package views

templ Base() {
    <!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<title>Nayan's Space</title>
            <link href="assets/css/output.css" rel="stylesheet"/>
			<script src="https://unpkg.com/htmx.org@2.0.1"
            integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
            crossorigin="anonymous"></script>
		</head>
		<body>
			<main>
            Hello! World!!
			</main>
		</body>
	</html>
}
