---
export const partial = true
---
<div class="cb-menu-opened-div">
    <button class="cb-menu-close-button" hx-get="/partials/cb_menu/cb_menu_closed" hx-target="closest div" hx-swap="innerHTML">
        <span class="line"></span>
        <span class="line"></span>
    </button>
    <div class="cb-menu-links">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/works">My Works</a></li>
            <li><a href="/support">Support Me</a></li>
            <li><a href="/contact">Contact Me</a></li>
            <li><a href="/linktree">Link Tree</a></li>
        </ul>
    </div>
</div>


