---
---

<div class="cb-menu-closed-div">
    <button class="cb-menu-open-button" hx-get="/partials/cb_menu/cb_menu_opened" hx-target="closest div" hx-swap="innerHTML">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </button>
</div>
