---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Blog">
    <h1>NayanTheSpaceGuy's personal website.</h1>
    <h2>This site is under construction.</h2>
    <h2>Blogs.</h2>
</BaseLayout>
