---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Blog">
    <main transition:animate="slide">
        <h1 class="text-white">NayanTheSpaceGuy's personal website.</h1>
        <h2 class="text-zinc-300">This site is under construction.</h2>
        <h2 class="text-sky-200">Blogs.</h2>
    </main>
</BaseLayout>
