---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Contact Me">
    <h1>NayanTheSpaceGuy's personal website.</h1>
    <h2>This site is under construction.</h2>
    <h2>Contact Me.</h2>
</BaseLayout>