---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Home">
    <main transition:animate="slide">
        <h1 class="text-orange-50">NayanTheSpaceGuy's personal website.</h1>
	    <h2 class="text-orange-100">This site is under construction.</h2>
    </main>
</BaseLayout>
