---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Link Tree">
    <h1>NayanTheSpaceGuy's personal website.</h1>
    <h2>This site is under construction.</h2>
    <h2>Link Tree.</h2>
</BaseLayout>