---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="My Works">
    <h1>NayanTheSpaceGuy's personal website.</h1>
    <h2>This site is under construction.</h2>
    <h2>My Works.</h2>
</BaseLayout>