---
import BigscreenNav from './Navigation/BigscreenNav.astro';
import CheeseburgerMenu from './Navigation/CheeseburgerMenu.astro';
---

<header class="bg-violet-200 p-4">
  <nav class="bg-violet-200 text-slate-950 justify-center flex flex-row">
    <BigscreenNav />
    <CheeseburgerMenu />
  </nav>
</header>