---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
const { pageTitle } = Astro.props;
---

<html lang="en" transition:animate="none">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<script>import "htmx.org"</script>
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <ViewTransitions />
	</head>
	<body class="bg-violet-950">
		<Header />
		<slot />
		<Footer />
		<script>
      		const html = document.getElementsByTagName("html")[0];
      		const SmoothScroll = () => {
        		html.style["scroll-behavior"] = "auto";
      		};
      		SmoothScroll();
      		document.addEventListener("astro:beforeload", SmoothScroll);
    	</script>
	</body>
</html>
